<!DOCTYPE html>
<html>
<head>
  
  <link type="text/css" rel="stylesheet" href="/style/main.css"/>
  <title>Blog</title>
</head>
<body>

  <a href="/blog" class="main-title">
    /Blog/
    </a>
  
  <div class="login-area">

  {% if user == "" %}
    
      <a class="login-link" href="/blog/login">login</a>
      |
      <a class="login-link" href="/blog/signup">signup</a>
    {% else %}
      {{user}} (<a class="login-link" href="/blog/logout">logout</a>)

    {% endif %}

    
    </div>

    <h2>{{type_post}}</h2>
    
  <form method="post">
      <div class="post-content">

        
            <div class="comment-date">
              {{comment.author}}
              {{comment.last_modified.strftime("%b %d, %Y")}}
                </div>

                <hr>
                {% if type_post == "Edit comment"%}
                  <textarea style="width: 500px; height: 150px;" name=content>{{comment.comment}}</textarea>
                {% else %}
                  
                  {% for line in comment.comment.splitlines() %}
                      {{line}}<br>
                  {% endfor %}

                {% endif %}
                <hr>            
  <div class="error">{{error}}</div>
  <input type="submit">
  <input type="button" onclick="parent.location='/blog/{{post_id}}'" value="Cancel">
        
  </div>
</form>

</body>
</html>